
// Fonts
// @import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// Font-awesome
@import "node_modules/font-awesome/scss/font-awesome";

//Search style
form {
  position: relative;
  margin: 0 auto;
}

.search form {
  width: auto;
  float: left;
}

.search input {
  padding-left: 15px;
  outline: none;
  position: relative;
  transition: .3s linear;
}

.search input:focus {
  width: 230px;
}

.search button {
  width: 70px;
  height: 42px;
  background: none;
  border: none;
  position: absolute;
  top: -2px;
  right: 0;
}

.search button:before{
  content: "\f002";
  font-family: FontAwesome;
}

@media (max-width: 480px){
  .search button {
    top: 5px;
    right: 0;
  }
}
