//nav tab
.navTab{
	margin-top: 4em;
}
// user image
.userImage {
	width: 200px;
	height: 200px;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border-radius:50%;
}

// update user avatar
.avatarButtons {
	margin-top: 5px;
}

.badge {
	a {
		margin-top: -5px;
	}
}

// change default file input button style
.btn-file {
	position: relative;
	overflow: hidden;

	input[type=file] {
	    position: absolute;
	    top: 0;
	    right: 0;
	    min-width: 100%;
	    min-height: 100%;
	    text-align: right;
	    opacity: 0;
	    outline: none;
	    background: white;
	    cursor: inherit;
	}
}
.addInfor {
	cursor: pointer;
	display: none;
	input {
		display: inline;
		width: auto;
		margin-right: 0.4em;
	}
}

//every tab content panel style
.panel {
	min-height: 380px;
	margin-left: 5px;
	margin-right: 5px;
	.panel-heading {
		text-align: center;
	}

	.panel-body {
		* {
			text-align: center;
		}
		//pagination
		.pager {
			height: 20px;
			margin-top: 15px;
			font-size: 12px;
		}
	}
}
