$profile_margin_top:1em;
$profile_edit_background:#fcf8e3;
$profile_edit_color:#8a6d3b;

//nav tab
.navTab {
	height: 20em;
	padding-top: 3em;
	.nav-item	{
		border-bottom: 1px solid #e6e6e6;
		a{
			font-size: 1.2em;
			.badge {
				margin-left: 1em;
			}
		}
	}
}
// user imformation
#firstPage {
	.panel-body {
		text-align: center;
		.userImage {
			width: 200px;
			height: 200px;
			-webkit-border-radius:50%;
			-moz-border-radius:50%;
			border-radius:50%;
		}
		// update user avatar
		.avatarButtons {
			margin-top: 5px;
			// change default file input button style
			.btn-file {
				position: relative;
				overflow: hidden;

				input[type=file] {
				    position: absolute;
				    top: 0;
				    right: 0;
				    min-width: 100%;
				    min-height: 100%;
				    text-align: right;
				    opacity: 0;
				    outline: none;
				    background: white;
				    cursor: inherit;
				}
			}
		}

    // person introduce style
    .profileIntro {
      margin-top: $profile_margin_top;
      border: none;
        .profileIntroHeader {
        background-color: #E3E3E3;
        border: none;
        margin-bottom: 0px;
        line-height: 1em;
          &:after {
          display: block;
          content: '';
          clear: both;
        }
          .circleApple {
          float: left;
            .circle {
              width: 1em;
              height: 1em;
              margin-right: 0.4em;
              border-radius: 50%;
              float: left;
            }
            .circleRed {
              background-color: #FF5F57;
            }
            .circleOrange {
              background-color: #FFBD2E;
            }
            .circleGreen {
              background-color: #28CA42;
            }
          }
          .profileEdit {
          float: right;
          cursor: pointer;
          a {
            color: #636b6f;
              &:hover {
                text-decoration: none;
                background: $profile_edit_background;
                color: $profile_edit_color;
                padding: 0.2em;
              }
              i {
                  margin-left:0.2em 0.2em;
                }
              }
            }
          }
          .profileIntroContent {
            background-color: #EEEEEE;
            .introDetailHide {
              display: none;
              textarea.form-control {
                width: 100%;
                height: 35px;
                padding: 6px 12px;
                background-color: #fff;
                background-image: none;
                border: 1px solid #ccc;
                border-radius: 3px;
                box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
                -webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
                transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
              }
            }
            li {
              list-style: none;
              background-color: #eee;
              width: 100%;
              font-size: 13px;
              color: #666;
              overflow: auto;
              height: 170px;
              padding: 20px;
              a {
                color: #009a61;
              }
              &:after {
                display: block;
                content: '';
                clear: both;
              }
              button {
                margin-top: $profile_margin_top;
                margin-left: 0.4em;
                float: right;
              }
            }
          }
        }
	    }

	.firstFooter {
		position: relative;
    h6 {
      font-size: 0.9em;
      display: inline-block;
    }
		h5 {
			position: absolute;
			right: 0.9em;
      font-size: 0.9em;
      display: inline-block;
		}
	}
}

// user input problem
#secondPage {
	.secondHead {
		position: relative;
	}
	.listProblem {
		text-align: center;
	}
	.secondFooter {
		width: 95%;
		background-color: #FFFFFF;
		position: absolute;
		bottom: 2em;
		.pager {
			.previous {
				float: left;
			}
			.next {
				float: right;
			}
		}
	}
}

#fourPage {
	.fourHead {
		position: relative;
	}
	.listPost {
		text-align: center;
	}
	.fourFooter {
		width: 95%;
		background-color: #FFFFFF;
		position: absolute;
		bottom: 2em;
		.pager {
			.previous {
				float: left;
			}
			.next {
				float: right;
			}
		}
	}
}

.content-center{
  font-size: 15px;
  width: 100px;
  margin: 120px auto;
}

//every tab content panel style
.panel {
  min-height: 380px;
  margin-left: 5px;
  margin-right: 5px;
  .panel-heading {
  	text-align: center;
  }
}
// common text input style
textarea.form-control {
    height: auto;
    margin: 0 -1.2em;
}

.form-control, output {
    display: block;
    font-size: 14px;
    line-height: 1.5;
    color: #555;
}
textarea {
    resize: vertical;
    margin: 0 -1em;
}
