////variables
//color variables

$font-color: #242729;
$border-bottom-color: #F7F7F9;
$questions-create-color: #8a6d3b;
$questions-create-border-color: #fbeed5;
$questions-create-bgc: #fcf8e3;
$recommend-name-hover-color: #2ed07a;
$footer-color: #888;
$footer-hover-color: #2ed07a;
$footer-border-color: #ded4d4;
$scrollToTop-color: #111;

$ordinaryMedia-width: 768px;
$smallMedia-width: 360px;

//@mixin

@mixin ordinaryMedia {
    @media only screen and (max-width: #{$ordinaryMedia-width}){
        @content;
    }
}

@mixin smallMedia {
    @media only screen and (max-width: #{$smallMedia-width}) {
        @content;
    }
}

@mixin border-radius($value) {
    -webkit-border-radius: $value;
    -moz-border-radius: $value;
    -ms-border-radius: $value;
    -o-border-radius: $value;
    border-radius: $value;
}

//main page content style

.question-content {
  margin-top: 1em;

  .singleQuestion {
    margin: {
      top: .25em;
      right: .25em;
    }
    padding: {
      top: .25em;
    }
    border-bottom: 2px solid $border-bottom-color;
    line-height: 1.6;

    .count-wide {
      display: inline-block;
      vertical-align: top;
      width: 25%;
      @include ordinaryMedia {
        display: none;
      }
      @include smallMedia {
        display: none;
      }
      div {
        display: inline-block;
        width: 30%;
        text-align: center;
        p {
          font-size: .75em;
        }
      }
      @include ordinaryMedia {
        display: none;
      }
    }

    .count-narrow {
      display: none;
      vertical-align: top;
      float: right;

      @include ordinaryMedia {
        display: inline-block;
      }

      @include smallMedia {
        display: none;
      }
    }

    .details {
      display: inline-table;
      vertical-align: top;
      padding-left: .25em;
      width: 65%;

      .tag-and-create-info {

        .tag {
          margin-left: .125em;
        }

        .create-info {
          float: right;
          @include ordinaryMedia {
            float: none;
          }
          .spanColor {
              color: $font-color;
          }
        }
      }
    }
  }
}

//sidebar content style

.questions-create {
  margin: {
    top: 3em;
    bottom: 2em;
  }
  border: 1px solid $questions-create-border-color;
  padding: 1em;
  background-color: $questions-create-bgc;
  color: $questions-create-color;
  text-align: center;
  @include border-radius(1em);
  p {
    font: {
      size: 1em;
      weight: bold;
    }
    a {
      font: {
        size: 1em;
        weight: bold;
      }
    }
  }
}

.recommend {
  display: inline-block;
  .recommend-name {
    margin-left: 1.75em;
    font-size: 1em;
    color: black;
  }
  ol {
    li {
      padding: 1em;
      img {
        margin-right: 0.5em;
        @include border-radius(50%);
        width: 2em;
        height: 2em;
      }
      a {
        text-decoration: none;
        color: black;
        &:hover {
          color: $recommend-name-hover-color;
        }
      }
    }
  }
}

//scroll to top content style

.scrollToTop{
  display: none;
  position:fixed;
  bottom: 5em;
  right: 5em;
  -webkit-border-radius:1.3em;
  -moz-border-radius:1.3em;
  border-radius:1.3em;
  padding:10px;
  width: auto;
  height: auto;
  text-decoration: none;
  background-color: #a09b9b;
  &:hover {
      text-decoration: none;
  }
}

//footer content style

.footer {
  position: relative;
  bottom: 0;
  padding-bottom: 0;
  width: auto;
  height: auto;
  h3 {
    border-bottom: 1px solid $footer-border-color;
    padding: .75em 0 .75em;
    line-height: 1.4;
    text-transform: uppercase;
    font: {
      size: 1.25em;
      weight: 600;
    }
    color: $footer-color;
  }
  ul {
    margin: {
      left: 0;
      top: 0;
    }
    padding-left: 0;
    list-style-type: none;
    font-size: 13px;
    li {
      a {
        display: block;
        padding: 0 0 .25em 0;
        text-decoration: none;
        color: $footer-color;
        &:hover {
          color: $footer-hover-color;
        }
      }
    }
  }
}

.footer-bottom {
  position: static;
  bottom: 0;
  padding: {
    top: .5em;
    bottom: .5em;
  }
  p {
    padding-top: .5em;
    text-align: center;
    @include ordinaryMedia {
      text-align: left;
    }
  }
}
