//color variables
$font-color: #242729;
$border-bottom-color: #F7F7F9;
$posts-create-color: #8a6d3b;
$posts-create-border-color: #fbeed5;
$posts-create-bgc: #fcf8e3;

$ordinaryMedia-width: 768px;
$smallMedia-width: 360px;

//@mixin

@mixin ordinaryMedia {
    @media only screen and (max-width: #{$ordinaryMedia-width}){
        @content;
    }
}

@mixin smallMedia {
    @media only screen and (max-width: #{$smallMedia-width}) {
        @content;
    }
}

@mixin border-radius($value) {
    -webkit-border-radius: $value;
    -moz-border-radius: $value;
    -ms-border-radius: $value;
    -o-border-radius: $value;
    border-radius: $value;
}

//posts list content style
.posts-content {
  margin-top: 1em;

  .singlePosts {
    margin: {
      top: .25em;
      right: .25em;
    }
    padding: {
      top: .25em;
    }
    border-bottom: 2px solid $border-bottom-color;
    line-height: 1.6;

    .count-wide {
      display: inline-block;
      vertical-align: top;
      width: 11%;
      @include ordinaryMedia {
        display: none;
      }
      @include smallMedia {
        display: none;
      }
      div {
        display: inline-block;
        margin-left: 1.5em;
        width: 30%;
        text-align: center;
        p {
          font-size: .75em;
        }
      }
      @include ordinaryMedia {
        display: none;
      }
    }

    .count-narrow {
      display: none;
      vertical-align: top;
      float: right;

      @include ordinaryMedia {
        display: inline-block;
      }

      @include smallMedia {
        display: none;
      }
    }

    .details {
      display: inline-table;
      vertical-align: top;
      padding-top: .1em;
      width: 75%;
      overflow: hidden;
      a {
        color: #333;
      }
      .create-info {
        float: left;
        @include ordinaryMedia {
          float: none;
        }

        .spanColor {
            color: #777;
        }
      }
    }
  }
}

//posts create content style
.posts-create {
  margin: {
    top: 3em;
    bottom: 2em;
  }
  border: 1px solid $posts-create-border-color;
  padding: 1em;
  background-color: $posts-create-bgc;
  color: $posts-create-color;
  text-align: center;
  @include border-radius(1em);
  p {
    font: {
      size: 1em;
      weight: bold;
    }
    a {
      font: {
        size: 1em;
        weight: bold;
      }
    }
  }
}

.recommend {
  display: inline-block;
  .recommend-name {
    margin-left: 1.75em;
    font-size: 1em;
    color: black;
  }
  ol {
    li {
      padding: 1em;
      img {
        margin-right: 0.5em;
        @include border-radius(50%);
        width: 2em;
        height: 2em;
      }
      a {
        text-decoration: none;
        color: black;
        &:hover {
          color: #2ed07a;
        }
      }
    }
  }
}


//show posts content style
.showPosts {
    color: $font-color;
    overflow: hidden;

    .posts-body {
        color: $font-color;
        img {
           width: 100%;
        }
    }
}

.addComment {
    margin-bottom: 5em;

    .comment-btn {
        margin-top: 1em;
    }
}
.comment {
  .panel-body {
    padding: 0 15px;
  }
  .list-group {
    border: none;
    .list-group-item {
      position: relative;
      display: block;
      padding: 10px 15px;
      background-color: #fff;
      margin-bottom: 0;
      border-bottom: 1px solid #e6e6e6;
    }
  }
}

.page,.postFollow {
  text-align: center;
}
//scroll to top content style

.scrollToTop{
  display: none;
  position:fixed;
  bottom: 5em;
  right: 5em;
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  border-radius:50%;
  padding:10px;
  width: 2.8em;
  height: 2.8em;
  text-decoration: none;
  color: #333;
  background-color: rgba(33, 31, 13, 0.13);
  &:hover {
      text-decoration: none;
  }
  i {
    line-height: 0.6em;
  }
}
