$iPad-width:768px;
$commonMedia-width:414px;
$iPhone6-width:375px;
$GalaxyMedia-width:360px;
$iPhone5-width:320px;

@mixin iPad-width {
  @media screen and (max-width: #{$iPad-width})
  {
    @content;
  }
}
@mixin commonMedia {
    @media screen and (max-width: #{$commonMedia-width}) {
        @content;
    }
}

@mixin iPhone6width {
  @media screen and (max-width: #{$iPhone6-width}){
    @content;
  }
}

@mixin GalaxyMedia {
  @media screen and (max-width: #{$GalaxyMedia-width}){
    @content;
  }
}

@mixin iPhone5Width {
    @media screen and (max-width: #{$iPhone5-width}) {
        @content;
    }
}

// person information
.userInfor {
  z-index: 1;
  overflow: hidden;
  .single-member{
    width: 30em;
    @include commonMedia {
      width: 26em;
    };
    @include iPhone6width {
      width: 24em;
    };
    @include GalaxyMedia {
      width: 23em;
    };
    @include iPhone5Width {
      width: 20em;
    };
    float: left;
    margin: 30px 2.5%;
    background-color: #fff;
    text-align: center;
    position: relative;

  	// pserson image style
  	.member-image {
  		img {
  			max-width: 100%;
  		  vertical-align: middle;
  		}
  		.label-success {
  			display: table;
  			margin: 3em auto;
  		}
  		.label-danger {
  			display: table;
  			margin: 3em auto;
  		}
  	}

  	// persion information style
  	.member-info {
  		h2 {
  			font-size: 2em;
  		  font-weight: normal;
  		  margin: 0.1em 0 0;
  		}
  		h5 {
  			font-size: 1em;
  		  font-weight: 300;
  		  margin: 0 0 0.9em;
  		  line-height: 2em;
  		}
  		p {
  			font-size: 1em;
  			font-weight: 300;
  			line-height: 0.8em;
  			padding: 0 2.4em;
  			margin-bottom: 0.8em;
  		}
  		.social-touch {
  			a {
  				display: inline-block;
  			  width: 27px;
  			  height: 26px;
  			  vertical-align: middle;
  			  margin: 0 2px;
  			  opacity: 0.7;
  			  transition: 0.3s;
  				&:hover {
  					opacity: 1;
  				  transition: 0.3s;
  				}
  			}
  		}
  	}
  }
}

//person information animation style
.effect-3{
  max-height: 29em;
  min-height: 29em;
  overflow: hidden;
	h3 {
		padding-top: 0.5em;
		line-height: 2.3em;
	}

	.member-image {
		border-bottom: 5px solid #eee;
		transition: 0.4s;
	  height: 212px;
	  width: 100%;
	  display: inline-block;
	  float: none;
	  vertical-align: middle;
		.img {
			width: 100%;
		  vertical-align: bottom;
		}
	}

	.member-info {
		transition: 0.4s;
		.social-touch {
			background-color: #eee;
		  float: left;
		  left: 0;
		  bottom: 0;
		  overflow: hidden;
		  padding: 5px 0;
		  width: 100%;
		  transition: 0.4s;
		}
	}
	&:hover {
		.member-image {
			border-bottom: 0;
			border-radius: 0 0 50px 50px;
			height: 81px;
			display: inline-block;
			overflow: hidden;
			width: 109px;
			transition: 0.4s;
		}
	}
}

// person information
#problemHead {
  margin-top: 1em;
  max-height: 22em;
  min-height: 22em;
  overflow: hidden;
  .listHead {
    position: relative;
  }
	.list-group-item-heading {
		font-size: 1em;
	}
	nav {
		text-align: center;
		.pagination {
			.active {
				span {
					background-color: #2ab27b;
					border-color: #2ab27b;
				}
			}
		}
	}
}
